@import "./Vars.scss";
@import "./Media.scss";

* {
  font-family: $theme-font;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: $main-color;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
  color: white;
  // background: url(../static/bg_blue.png);
  background-size: cover;
}